.semantic-aria-accordion,
.semantic-aria-accordion section,
.semantic-aria-accordion h1,
.semantic-aria-accordion h2,
.semantic-aria-accordion h3,
.semantic-aria-accordion h4,
.semantic-aria-accordion h5,
.semantic-aria-accordion h6,
.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button,
.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	box-sizing: border-box;
	display: block;
	border: none;
	margin: 0;
	padding: 0;
}

.semantic-aria-accordion {
	border: 1px solid #000;
}

.semantic-aria-accordion h1,
.semantic-aria-accordion h2,
.semantic-aria-accordion h3,
.semantic-aria-accordion h4,
.semantic-aria-accordion h5,
.semantic-aria-accordion h6 {
	border: 1px solid #000;
}

.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button {
	font-weight: 900;
	min-height: 45px;
	width: 100%;
}

.semantic-aria-accordion > section > div {
	background: transparent;
}

.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button,
.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	color: #000;
	text-align: left;
	padding: 0.1em;
}

.semantic-aria-accordion h1 > button > span,
.semantic-aria-accordion h2 > button > span,
.semantic-aria-accordion h3 > button > span,
.semantic-aria-accordion h4 > button > span,
.semantic-aria-accordion h5 > button > span,
.semantic-aria-accordion h6 > button > span {
	display: inline-block;
	vertical-align: middle;
}

.semantic-aria-accordion h1 > button > span:first-child,
.semantic-aria-accordion h2 > button > span:first-child,
.semantic-aria-accordion h3 > button > span:first-child,
.semantic-aria-accordion h4 > button > span:first-child,
.semantic-aria-accordion h5 > button > span:first-child,
.semantic-aria-accordion h6 > button > span:first-child {
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; 
	border-left: solid #000;
	border-left-width: calc(24px * 0.866);
}

.semantic-aria-accordion h1 > button > span:last-child,
.semantic-aria-accordion h2 > button > span:last-child,
.semantic-aria-accordion h3 > button > span:last-child,
.semantic-aria-accordion h4 > button > span:last-child,
.semantic-aria-accordion h5 > button > span:last-child,
.semantic-aria-accordion h6 > button > span:last-child {
	margin-left: 0.2em;
}

.semantic-aria-accordion h1 > button > span:first-child.semantic-aria-accordion-open,
.semantic-aria-accordion h2 > button > span:first-child.semantic-aria-accordion-open,
.semantic-aria-accordion h3 > button > span:first-child.semantic-aria-accordion-open,
.semantic-aria-accordion h4 > button > span:first-child.semantic-aria-accordion-open,
.semantic-aria-accordion h5 > button > span:first-child.semantic-aria-accordion-open,
.semantic-aria-accordion h6 > button > span:first-child.semantic-aria-accordion-open {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent; 
	border-top: solid #000;
	border-top-width: calc(24px * 0.866);
	margin-top: 12px;
}

.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	border: 1px solid #000;
}

.semantic-aria-accordion a,
.semantic-aria-accordion a:link {
	color: #0000EE;
}
.semantic-aria-accordion a:visited { color: #551A8B; }
.semantic-aria-accordion a:active { color: #c00; }

.semantic-aria-accordion a:focus,
.semantic-aria-accordion a:hover,
.semantic-aria-accordion button:focus,
.semantic-aria-accordion button:hover {
	background: #cf0;
	border: none;
	color: #000;
	outline: 1px dashed #000;
}
