.semantic-aria-accordion,
.semantic-aria-accordion section,
.semantic-aria-accordion h1,
.semantic-aria-accordion h2,
.semantic-aria-accordion h3,
.semantic-aria-accordion h4,
.semantic-aria-accordion h5,
.semantic-aria-accordion h6,
.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button,
.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	box-sizing: border-box;
	display: block;
	border: none;
	margin: 0;
	padding: 0;
}

.semantic-aria-accordion {
	border: 1px solid #000;
}

.semantic-aria-accordion h1,
.semantic-aria-accordion h2,
.semantic-aria-accordion h3,
.semantic-aria-accordion h4,
.semantic-aria-accordion h5,
.semantic-aria-accordion h6 {
	border: 1px solid #000;
}

.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button {
	font-weight: 900;
	min-height: 45px;
	width: 100%;
}

.semantic-aria-accordion > section > div {
	background: transparent;
}

.semantic-aria-accordion h1 > button,
.semantic-aria-accordion h2 > button,
.semantic-aria-accordion h3 > button,
.semantic-aria-accordion h4 > button,
.semantic-aria-accordion h5 > button,
.semantic-aria-accordion h6 > button,
.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	color: #000;
	text-align: left;
}

.semantic-aria-accordion h1 + div,
.semantic-aria-accordion h2 + div,
.semantic-aria-accordion h3 + div,
.semantic-aria-accordion h4 + div,
.semantic-aria-accordion h5 + div,
.semantic-aria-accordion h6 + div {
	border: 1px solid #000;
}
